.outer-container {
   
   margin: auto;
   width: 30%;
   padding: 10px;
    height: 200px;
     opacity: .5;
  
  }
  .inner{
    overflow:auto; 
    height: 200px;
  }
  
  .container {
    padding-left: 0;
    height: 120px;
  
    margin-left: 0;
    border-radius: 20px;
    
	
  }
  .container:hover{
      background-color: rgb(240, 240, 218);
  }
  input{
      align-items: center;
    border-radius: 25px;
    outline: none;
    background-position: left top;
    background-repeat: repeat;
    padding: 30px;
    width: 400px;
    height: 10px;
    margin-left: 40px;
  }

  h5{

    padding: 20px;
  }

  .search{
      padding-top: 22px;
      padding-left: 15px;
  }

  button{
    position: absolute;
    height: 35px;
    text-align: center;
    margin: 1%;
  }  

  

  
	
    

  /* width 
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle 
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover 
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }*/